<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Card</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container my-5">
    <h3 class="my-2"> Add Card</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/cards/add}" th:object="${card}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="amount" class="col-form-label">Amount</label>
                            <input type="number" th:field="*{amount}" class="form-control" id="amount" placeholder=0>
                            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="typeCard" class="col-form-label">Type card</label>

                            <select th:field="*{typeCard}" class="form-control" id="typeCard" placeholder="Type card">
                                <option th:value="'SIMPLE'" th:text="Simple"></option>
                                <option th:value="'OTHER'" th:text="Other"></option>
                                <option th:value="'DISCOUNTED'" th:text="Discounted"></option>
                                <option th:value="'BANK'" th:text="Bank"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="owner_id" class="col-form-label">Creator</label>
                            <input type="text" th:field="*{owner_id}" class="form-control" id="owner_id"
                                   placeholder="Creator">
                            <span th:if="${#fields.hasErrors('owner_id')}" th:errors="owner_id"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Add Card">
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer">&copy; _2023_</div>

</body>
</html>
