<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div class="container my-5">
    <p class="my-2">
        <a th:href="@{/}">Home</a>
    </p>
    <h3> Add Card</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/cards/add}" th:object="${card}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="amount" class="col-form-label">Amount</label>
                            <input type="number" th:field="*{amount}" class="form-control" id="amount" placeholder=0>
                            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="typeCard" class="col-form-label">Type card</label>

                            <select th:field="*{typeCard}" class="form-control" id="typeCard" placeholder="Type card">
                                <option th:value="'SIMPLE'" th:text="Simple"></option>
                                <option th:value="'OTHER'" th:text="Other"></option>
                                <option th:value="'DISCOUNTED'" th:text="Discounted"></option>
                                <option th:value="'BANK'" th:text="Bank"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="owner_id" class="col-form-label">Creator</label>
                            <input type="text" th:field="*{owner_id}" class="form-control" id="owner_id"
                                   placeholder="Creator">
                            <span th:if="${#fields.hasErrors('owner_id')}" th:errors="owner_id"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="Add Card">
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer">&copy; _2023_</div>
</body>
</html>
