<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Gift Cards panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<div th:insert="fragments/bodyHeader"></div>

<div class="container py-2 my-2">

    <p class="my-2">--- For Admin Only ---</p>

    <p class="my-2">
    <h4 class="text-left"><a href="/auth/admin/registration">Create a new account</a></h4>
    </p>

    <p class="my-2">
        <a th:href="@{/cards/}">UI Cards List (/cards/)</a>
    </p>

    <p class="my-2">--- For Admin and Users ---</p>
    <p class="my-2">
        <a href="/api/v1/cards">Rest (/api/v1/cards)</a>
    </p>
    <p class="my-2">
        <a href="/api/v1/cards/lastOne">Rest (/api/v1/cards/lastOne)</a>
    </p>
</div>
<div th:insert="fragments/footer :: footer">&copy; _2023_</div>
</body>
</html>









