<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Admin Gift Cards panel</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="container py-2 my-2">

    <p class="my-2">--- For Admin Only ---</p>

    <div sec:authorize="hasRole('ADMIN')">
        <p class="my-2">
        <h4 class="text-left"><a href="/auth/admin/registration">Create a new account</a></h4>
        </p>
    </div>

    <p class="my-2">
        <a th:href="@{/cards/}">UI Cards List (/cards/)</a>
    </p>

    <p class="my-2">--- For Admin and Users ---</p>
    <p class="my-2">
        <a href="/api/v1/cards">Rest (/api/v1/cards)</a>
    </p>
    <p class="my-2">
        <a href="/api/v1/cards/lastOne">Rest (/api/v1/cards/lastOne)</a>
    </p>
</div>
<div th:insert="fragments/footer :: footer">&copy; _2023_</div>
</body>
</html>









