<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Card</title>
    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: header"/>

<div class="container py-5">
    <div class="form-group">
        <h3 class="text-left" th:text="${'Update for ' + card.getNumber()}">VALUE</h3>
        <div class="col-md-6">
            <form action="#" th:action="@{/cards/update/{number}(number=${card.number})}" th:object="${card}"
                  method="post">

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="amount" class="col-form-label">Amount</label>
                        <input type="text" readonly th:field="*{amount}" class="form-control" id="amount"
                               placeholder="0" disabled>
                        <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
                              class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Withdrawal" class="col-form-label">Withdrawal</label>
                        <input type="text" readonly th:field="*{withdrawal}" class="form-control"
                               id="Withdrawal" placeholder="0">
                        <span th:if="${#fields.hasErrors('Withdrawal')}" th:errors="*{withdrawal}"
                              class="text-danger"></span>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="status" class="col-form-label">Status</label>
                        <input type="text" th:field="*{status}" class="form-control" id="status"
                               placeholder="Status" disabled>
                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="typeCard" class="col-form-label">Type card</label>

                        <select th:field="*{typeCard}" class="form-control" id="typeCard" placeholder="Type card">
                            <option th:value="'SIMPLE'" th:text="Simple"></option>
                            <option th:value="'OTHER'" th:text="Other"></option>
                            <option th:value="'DISCOUNTED'" th:text="Discounted"></option>
                            <option th:value="'BANK'" th:text="Bank"></option>
                        </select>

                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="owner_id" class="col-form-label">Creator</label>
                    <input type="text" readonly th:field="*{owner_id}" class="form-control" id="owner_id"
                           placeholder="Creator">
                    <span th:if="${#fields.hasErrors('owner_id')}" th:errors="owner_id"
                          class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <input type="checkbox" class="form-check-input" id="isPrint" th:checked="${card.isPrint()}"
                           disabled>
                    <label class="form-check-label" for="isPrint">Printed</label>
                </div>

                <div class="form-group col-md-6">
                    <input type="checkbox" class="form-check-input" id="isGenerated"
                           th:checked="${card.isGenerated()}" disabled>
                    <label class="form-check-label" for="isGenerated">Generated</label>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <p class="my-2"
                           th:text="${'Registered: '
                           + #dates.format(card.getRegistered(), 'dd/MM/yy HH:mm:ss') +
                           ' Update: ' + #dates.format(card.getLastUpdate(), 'dd/MM/yy HH:mm:ss')}"
                        >VALUE</p>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>

            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer">&copy; _2023_</div>

</body>
</html>